* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
}
.head {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.03));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 170px;
    width: 100%;
    z-index: 1;
}
.head_imag{
    height: 8rem;
    width: 8rem;
    position: relative;
    left: 5rem;
    overflow: hidden;
    border: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.head_imag img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .95;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    opacity: .95;
}
.head_imag:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.head_menu{
    position: relative;

}
.menu {
    width: 45rem;
    position: relative;
    right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.menu :hover{
    color: #B2423F;
    text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.menu_item{
    color: white;
    text-shadow: 0 0 5px rgba(85, 84, 84, 
    0.3);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
#home {
    width: 100%;
    height: 99vh;
    overflow: hidden;
}
.home_imag{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
}
.home_imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    transition: ease-in-out;
    animation-name: zoom;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_home {
    position: relative;
    width: 100%;
    bottom: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
}
.banner_home .card {
    left: 5rem;
    position: relative;
    width: 530px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
h3{
    color: white;
    text-shadow: 3px 3px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
p{
    color:white;
    text-shadow: 2px 2px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.mail {
    height: 3rem;
    width: 330px;
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.mail:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.mail1{
    height: 2rem;
    width: 330px;
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.mail1:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.btn_home{
    height: 3rem;
    width: 150px;
    margin-left: 5px;
    color: whitesmoke;
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.btn_home:hover {
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
#sobre {
    width: 100%;
    height: 99vh;
    overflow: hidden;
}
.sobre_imag{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
}
.sobre_imag img{
    height: 100%;
    width: 100%;
    opacity: 0.95;
    object-fit: cover;
    transition: ease-in-out;
    animation-name: zoom;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_sobre {
    position: relative;
    width: 100%;
    bottom: 20rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-content: center;
}
.banner_sobre .card {
    position: relative;
    width: 530px;
    height: 300px;
    left: -5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
#portfolio{
    width: 100%;
    height: 99vh;
    overflow: hidden;
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
}
.box{
    width: 100%;
    position: relative;
    top: 12.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.box-projetos{
    width: 28%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    right: -5rem;
    background-color: rgba(0, 0, 0, 0.99);
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    cursor: pointer;
}
.box-projetos:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.box-familia{
    width: 28%;
    height: 60vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    cursor: pointer;
}
.box-familia:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.box-musica{
    width: 28%;
    height: 60vh;
    position: relative;
    left: -5rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    cursor: pointer;
}
.box-musica:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.box-projetos img{
    object-fit: inherit;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    transition: ease-in-out;
    animation-name: move;
    animation-duration: 90s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%    {transform: translateX(0%);}
    7.70% {transform: translateX(-100%);}
    15.40%{transform: translateX(-200%);}
    23.10%{transform: translateX(-300%);}
    30.80%{transform: translateX(-400%);}
    38.50%{transform: translateX(-500%);}
    46.15%{transform: translateX(-600%);}
    53.85%{transform: translateX(-700%);}
    61.50%{transform: translateX(-600%);}
    69.25%{transform: translateX(-500%);}
    68.75%{transform: translateX(-400%);}
    76.90%{transform: translateX(-300%);}
    84.60%{transform: translateX(-200%);}
    92.30%{transform: translateX(-100%);}
    100%  {transform: translateX(0%);}
}
.box-familia img{
    -o-object-fit: initial;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    transition: ease-in-out;
    animation-name: move;
    animation-duration: 90s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%    {transform: translateX(0%);}
    7.70% {transform: translateX(-100%);}
    15.40%{transform: translateX(-200%);}
    23.10%{transform: translateX(-300%);}
    30.80%{transform: translateX(-400%);}
    38.50%{transform: translateX(-500%);}
    46.15%{transform: translateX(-600%);}
    53.85%{transform: translateX(-700%);}
    61.50%{transform: translateX(-600%);}
    69.25%{transform: translateX(-500%);}
    68.75%{transform: translateX(-400%);}
    76.90%{transform: translateX(-300%);}
    84.60%{transform: translateX(-200%);}
    92.30%{transform: translateX(-100%);}
    100%  {transform: translateX(0%);}
}
.box-musica img{
    -o-object-fit: initial;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    transition: ease-in-out;
    animation-name: move;
    animation-duration: 90s;
    animation-delay: 16s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%    {transform: translateX(0%);}
    7.70% {transform: translateX(-100%);}
    15.40%{transform: translateX(-200%);}
    23.10%{transform: translateX(-300%);}
    30.80%{transform: translateX(-400%);}
    38.50%{transform: translateX(-500%);}
    46.15%{transform: translateX(-600%);}
    53.85%{transform: translateX(-700%);}
    61.50%{transform: translateX(-600%);}
    69.25%{transform: translateX(-500%);}
    68.75%{transform: translateX(-400%);}
    76.90%{transform: translateX(-300%);}
    84.60%{transform: translateX(-200%);}
    92.30%{transform: translateX(-100%);}
    100%  {transform: translateX(0%);}
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.box-projetos h3{
    position: relative;
    bottom: 7.5rem;
}
.box-projetos p{
    position: relative;
    bottom: 7rem;
    text-align: center;
}
.box-familia h3{
    position: relative;
    bottom: 7.5rem;
}
.box-familia p{
    position: relative;
    bottom: 7rem;
    text-align: center;
}
.box-musica h3{
    position: relative;
    bottom: 7.5rem;
}
.box-musica p{
    position: relative;
    bottom: 7rem;
    text-align: center;
}
#orcamento {
    width: 100%;
    height: 99vh;
    overflow: hidden;
}
.orcamento_imag{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
}
.orcamento_imag img{
    height: 100%;
    width: 100%;
    opacity: 0.95;
    object-fit: cover;
    transition: ease-in-out;
    animation-name: zoom;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_orcamento {
    position: relative;
    width: 100%;
    bottom: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.banner_parcelas {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    color:white;
    text-shadow: 2px 2px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
label{
    color:white;
    text-shadow: 2px 2px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.banner_orcamento{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.card1 {
    position: relative;
    width: 550px;
    height: 24rem;
    left: -5rem;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
.card2 {
    position: relative;
    width: 550px;
    height: 24rem;
    right: -5rem;
    bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
#cadastro{
    width: 100%;
    height: 89vh;
    overflow: hidden;
}

.cadastro_imag{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
}
.cadastro_imag img{
    width: 100%;
    height: 100%;
    opacity: 0.95;
    object-fit: cover;
    transition: ease-in-out;
    animation-name: zoom;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_cadastro {
    position: relative;
    width: 100%;
    height: 23rem;
    bottom: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.banner_cadastro .card{
    position: relative;
    width: 530px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
.btn_cadastro{
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.btn_cadastro .btn_home{
    margin: 0;
}
.footer{
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer p{
    position: relative;
    left:5rem;
    font-size: 1rem;
}
.suspiro {
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    height: 1vh;
    width: 100%;
}
.suspiro .p{
    font-size: 1rem;
}
.suspiro_header {
    background-color: black;
    height: 1vh;
    width: 100%;
    position: fixed;
    top: 0px;
}
#login {
    height: 89vh;
    width: 100%;
    overflow: hidden;
}
.login_imag{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
}
.login_imag img{
    height: 100%;
    width: 100%;
    opacity: 0.95;
    object-fit: cover;
    transition: ease-in-out;
    animation-name: zoom;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_login {
    position: relative;
    width: 100%;
    height: 23rem;
    bottom: 26.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.banner_login .card {
    position: relative;
    width: 530px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
.btn_login {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.btn_login .btn_home{
    margin: 0;
}
.btn_link{
    text-decoration: none;
}
a:-webkit-any-link {
    color: white;
}
.btn_cadastro {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}