* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none; 
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.head {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    height: 15rem;
    width: 100%;
    z-index: 1;
}
.head_imag{
    height: 5rem;
    width: 5rem;
    position: relative;
    overflow: hidden;
    border: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.head_imag img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .95;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    opacity: .95;
}
.head_imag:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.head_menu{
    position: relative;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.menu :hover{
    color: #B2423F;
    text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.menu_item{
    color: white;
    text-shadow: 0 0 5px rgba(85, 84, 84, 
    0.3);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
#home {
    width: 100%;
    height: 99vh;
    overflow: hidden;
}
.home_imag{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);
}
.home_imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    transition: ease-in-out;
    animation-name: zoom;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_home {
    position: relative;
    width: 100%;
    bottom: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
}
.banner_home .card {
    position: relative;
    top: 20vw;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
}
h3{
    color: white;
    text-shadow: 3px 3px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 1.6rem;
}
p{
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
}
.mail {
    height: 2rem;
    width: 70vw;
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.mail:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.mail1{
    height: 2rem;
    width: 70vw;
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    color: black;
    background-color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.mail1:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.btn_home{
    height: 2rem;
    width: 70vw;
    color: whitesmoke;
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.btn_home:hover {
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}

#valores{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
}
.row_valores{
    position: relative;
    height: 185vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.missao{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cozinha{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dormitorio{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columm_one{
    height: 45vh;
    width: 80vw;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.columm_one:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}

.columm_tow{
    height: 39vh;
    width: 80vw;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.columm_tow:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}

.columm_tree{
    height: 45vh;
    width: 80vw;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.columm_tree:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}

.missao img{
    object-fit: scale-down;
    opacity: 0.5;
    height: 100%;
}

.cozinha img{
    object-fit: scale-down;
    opacity: 0.5;
    height: 100%;

}

.dormitorio img{
    object-fit: scale-down;
    opacity: 0.5;
    height: 100%;
    }

.columm_one h3{
    position: relative;
    bottom: 6.5rem;
}
.columm_one p{
    position: relative;
    bottom: 6rem;
    text-align: center;
}
.columm_tow h3{
    position: relative;
    bottom: 5.5rem;
}
.columm_tow p{
    position: relative;
    bottom: 5rem;
    text-align: center;
}
.columm_tree h3{
    position: relative;
    bottom: 5.5rem;
}
.columm_tree p{
    position: relative;
    bottom: 5rem;
    text-align: center;
}

.footer{
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.footer p{
    position: relative;
    font-size: 1rem;
}
.suspiro {
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    height: 1vh;
    width: 100%;
}
.suspiro .p{
    font-size: 1rem;
}
.suspiro_header {
    background-color: black;
    height: 1vh;
    width: 100%;
    position: fixed;
    top: 0px;
}

a:-webkit-any-link {
    color: white;
}

.nav .list {
    position: relative;
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}

.menu_footer{
    text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.menu_footer :hover{
    text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}

.indicativo{
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-name: indicativo;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}
@keyframes indicativo {
    0%,100% {transform: translateY(0vh);}
    50% {transform: translateY(8vh);}
}
.indicativo :hover{
    text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}

.fa, .fas {
    font-weight: 900;
    position: fixed;
    bottom: 12vh;
    left: 93%;
    transform: translateX(-50%);
    color: white;
    z-index: 3;
    text-shadow: 2.5px 2.5px 10px rgb(32, 4, 4);
    cursor: pointer;
}

@media screen and (min-width: 1366px) {

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        border: none;
    }
    html{
        scroll-behavior: smooth;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .head {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        height: 170px;
        width: 100%;
        z-index: 1;
    }
    .head_imag{
        height: 8rem;
        width: 8rem;
        position: relative;
        left: 5rem;
        overflow: hidden;
        border: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
    .head_imag img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .95;
        box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
        opacity: .95;
    }
    .head_imag:hover{
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    .head_menu{
        position: relative;
    
    }
    .menu {
        width: 45rem;
        position: relative;
        right: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
        cursor: pointer;
    }
    .menu :hover{
        color: #B2423F;
        text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    .menu_item{
        color: white;
        text-shadow: 0 0 5px rgba(85, 84, 84, 
        0.3);
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }
    #home {
        width: 100%;
        height: 99vh;
        overflow: hidden;
    }
    .home_imag{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.99);
    }
    .home_imag img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.95;
        transition: ease-in-out;
        animation-name: zoom;
        animation-duration: 30s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes zoom {
        0%,100% {transform: scale(1);}
        50% {transform: scale(1.2);}
    }
    .banner_home {
        position: relative;
        width: 100%;
        bottom: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-content: center;
    }
    .banner_home .card {
        position: relative;
        left: 5rem;
        top: -2rem;
        width: 27rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
    }
    h3{
        color: white;
        text-shadow: 3px 3px 10px 
        rgb(0, 0, 0);
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }
    p{
        color:white;
        text-shadow: 2px 2px 10px 
        rgb(0, 0, 0);
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
    .mail {
        height: 3rem;
        width: 330px;
        border-radius: 7px;
        box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
        color: black;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    .mail:hover{
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    .mail1{
        height: 2rem;
        width: 330px;
        border-radius: 7px;
        box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
        color: black;
        background-color: white;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    .mail1:hover{
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    .btn_home{
        height: 3rem;
        width: 150px;
        margin-left: 5px;
        color: whitesmoke;
        background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
        border-radius: 7px;
        box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }
    .btn_home:hover {
        background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    
    #valores{
        width: 100%;
        height: 89vh;
        overflow: hidden;
        background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
    }
    .row_valores{
        width: 100%;
        position: relative;
        top: 11rem;
        padding: 0rem;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
    .missao{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .cozinha{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .dormitorio{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .columm_one{
        width: 28%;
        height: 58vh;
        overflow: hidden;
        position: relative;
        right: -5rem;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
        cursor: pointer;
    }
    .columm_one:hover{
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    
    .columm_tow{
        width: 28%;
        height: 58vh;
        overflow: hidden;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
        cursor: pointer;
    }
    .columm_tow:hover{
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    
    .columm_tree{
        width: 28%;
        height: 58vh;
        position: relative;
        left: -5rem;
        overflow: hidden;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
        cursor: pointer;
    }
    .columm_tree:hover{
        box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    
    .missao img{
        object-fit: scale-down;
        opacity: 0.5;
        height: 100%;
    }
    
    .cozinha img{
        object-fit: scale-down;
        opacity: 0.5;
        height: 100%;
    
    }
    
    .dormitorio img{
        object-fit: scale-down;
        opacity: 0.5;
        height: 100%;
        }
    
    .columm_one h3{
        position: relative;
        bottom: 8.5rem;
    }
    .columm_one p{
        position: relative;
        bottom: 8rem;
        text-align: center;
    }
    .columm_tow h3{
        position: relative;
        bottom: 8.5rem;
    }
    .columm_tow p{
        position: relative;
        bottom: 8rem;
        text-align: center;
    }
    .columm_tree h3{
        position: relative;
        bottom: 8.5rem;
    }
    .columm_tree p{
        position: relative;
        bottom: 8rem;
        text-align: center;
    }
    
    .footer{
        background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer p{
        position: relative;
        left:5rem;
        font-size: 1rem;
    }
    .suspiro {
        background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
        height: 1vh;
        width: 100%;
    }
    .suspiro .p{
        font-size: 1rem;
    }
    .suspiro_header {
        background-color: black;
        height: 1vh;
        width: 100%;
        position: fixed;
        top: 0px;
    }
    
    a:-webkit-any-link {
        color: white;
    }

    .nav .list {
        position: relative;
        width: 10rem;
        left: -5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
        cursor: pointer;
    }
    
    .menu_footer{
        text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
        cursor: pointer;
    }
    .menu_footer :hover{
        text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }
    
    .indicativo{
        text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
        cursor: pointer;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
        animation-name: indicativo;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-iteration-count: 5;
        color: white;
        z-index: 3;
    }

    @keyframes indicativo {
        0%,100% {transform: translateY(0rem);}
        50% {transform: translateY(4rem);}
    }

    .indicativo :hover{
        text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
        transition-duration: .9s;
    }

    .fa, .fas {
        font-weight: 900;
        position: fixed;
        bottom: 12vh;
        left: 97%;
        transform: translateX(-50%);
        color: white;
        z-index: 3;
        text-shadow: 2.5px 2.5px 10px rgb(32, 4, 4);
        cursor: pointer;
    }
}