@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.section_head {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    width: 100%;
    position: fixed;
    z-index: 4;

}
.head_imag{
    height: 150px;
    width: 150px;
    border: 10px;
    position: relative;
    right: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.head_imag img {
    height: 100%;
    width: 100%;
    border: 10px;
    object-fit: cover;
    box-shadow: 5px  rgba(255, 255, 255, 0.3);
    opacity: .8;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;    cursor: pointer;
}
.menu :hover {
    color: #B2423F;
    text-shadow: 0 0 10px #B2423F;
    transition-duration: .8s;
    text-decoration: block;
}
.menu_item{
    color: aliceblue;
    font-size: 1.7rem;
    text-shadow: 0 0 5px rgba(85, 84, 84, 
    0.3);
}
.section_home {
    height: 100vh;
    width: 100%;
}
.home_imag{
    height: 100vh;
    width: 100%;
}
.home_imag img{
    height: 100%;
    width: 100%;
}
.banner_home {
    position: absolute;
    width: 600px;
    top: 300px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.05);
}
h3{
    color: whitesmoke;
    font-size: 1.7rem;
    margin-bottom:1.5rem;
    text-shadow: 0 0 5px rgba(85, 84, 84, 
    0.3);
}
p{
    color:whitesmoke;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 5px rgba(85, 84, 84, 
    0.3);
}
.mail {
    height: 48px;
    width: 400px;
    border-radius: 7px;
    text-align: center;
    color: black;
}
.btn_home{
    height: 50px;
    width: 150px;
    color: whitesmoke;
    background-color: rgb(178, 67, 63);
    border-radius: 7px;
    box-align: center;
}
.section_sobre {
    height: 100vh;
    width: 100%;
}
.sobre_imag{
    height: 100vh;
    width: 100%;
}
.sobre_imag img{
    height: 100%;
    width: 100%;
}
.banner_sobre {
    position: relative;
    width: 600px;
    bottom:300px;
    left: 700px;
    background-color: rgba(0, 0, 0, 0.05);
}
.btn_sobre{
    height: 50px;
    width: 200px;
    color: whitesmoke;
    background-color: rgb(178, 67, 63);
    border-radius: 7px;
    box-align: center;
}
.section_portfolio{
    height: 100vh;
    width: 100%;
}
.portfolio_imag{
    height: 100vh;
    width: 100%;
}
.portfolio_imag img{
    height: 100%;
    width: 100%;
}
.banner_portfolio {
    position: relative;
    width: 600px;
    bottom:300px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.05);
}
.btn_portfolio{
    height: 50px;
    width: 200px;
    color: whitesmoke;
    background-color: rgb(178, 67, 63);
    border-radius: 7px;
    box-align: center;
}
.section_contato{
    height: 100vh;
    width: 100%;
}
.contato_imag{
    height: 100vh;
    width: 100%;
}
.contato_imag img{
    height: 100%;
    width: 100%;
}
.banner_contato {
    position: relative;
    width: 600px;
    bottom:300px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.btn_contato{
    height: 50px;
    width: 200px;
    color: whitesmoke;
    background-color: rgb(178, 67, 63);
    border-radius: 7px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100%;
    position: relative;
    top: 0xp;
}