* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
}
.section_head {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.03));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 170px;
    width: 100%;
    z-index: 1;
}
.head_imag{
    height: 150px;
    width: 150px;
    border: 10px;
    right: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: relative;
    left: 5rem;
    cursor: pointer;
    z-index: 3;
}
.head_imag img {
    height: 100%;
    width: 100%;
    border: 10px;
    object-fit: cover;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    opacity: .8;
    border-radius: 10px;
    object-fit: cover;
    z-index: 2;
}
.head_imag:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.head_menu{
    position: relative;
    right: 5rem;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    text-shadow: 2.5px 2.5px 10px rgb(0, 0, 0);
    cursor: pointer;
}
.menu :hover{
    color: #B2423F;
    text-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.menu_item{
    color: aliceblue;
    text-shadow: 0 0 5px rgba(85, 84, 84, 
    0.3);
    font-family: "sans-serif";
    font-size: 1.7rem;
}
#home {
    height: 99vh;
    width: 100%;
    overflow: hidden;
    
}
.home_imag{
    height: 100vh;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(195, 195, 195, 0.8);
}
.home_imag img{
    height: 100%;
    width: 100%;
    box-shadow: 20px 20px 10px rgba(195, 195, 195, 0.8);
    transition-timing-function: cubic-bezier(0.6, 0, 0.6, 1);
    transition-delay: 30s;
    animation: zoom 30s;
}
@keyframes zoom {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_home {
    position: relative;
    width: 100%;
    bottom: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
}
.card {
    left: 5rem;
    position: relative;
    width: 530px;
    height: 300px;
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
h3{
    color: white;
    text-shadow: 3px 3px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:"sans-serif";
    -moz-font-feature-settings: "liga","kern";
    font-size: 1.7rem;
}
p{
    color:white;
    text-shadow: 3px 3px 10px 
    rgb(0, 0, 0);
    text-align: center;
    font-family:"sans-serif";
    -moz-font-feature-settings: "liga","kern";
    font-size: 1.3rem;
}
.mail {
    height: 50px;
    width: 330px;
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:"sans-serif";
    font-size: 1.1rem;
}
.mail:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.mail1  {
    height: 48px;
    width: 330px;
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:"sans-serif";
    font-size: 1.1rem;
}
.mail1:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.btn_home{
    height: 50px;
    width: 150px;
    margin-left: 5px;
    color: whitesmoke;
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    border-radius: 7px;
    box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    box-align: center;
    text-align: center;
    font-family:"sans-serif";
    font-size: 1.1rem;
    cursor: pointer;
}
.btn_home:hover {
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
#sobre {
    height: 99vh;
    width: 100%;
    overflow: hidden;
}
.sobre_imag{
    height: 100vh;
    width: 100%;
}
.sobre_imag img{
    height: 100%;
    width: 100%;
    transition-timing-function: cubic-bezier(0.6, 0, 0.6, 1);
    transition-delay: 30s;
    animation: zoom 30s;
}
@keyframes zoom{
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_sobre {
    position: relative;
    width: 100%;
    bottom: 20rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-content: center;
}
.banner_sobre .card {
    position: relative;
    width: 530px;
    height: 300px;
    left: -5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
#portfolio{
    height: 99vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
}
.box{
    width: 100%;
    position: relative;
    top: 210px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
.box-projetos{
    width: 25%;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px  rgb(0, 0, 0);
    cursor: pointer;
}
.box-projetos:hover{
    box-shadow: 2.5px 2.5px 10px  rgb(255, 166, 165);
    transition-duration: .9s;
}
.box-projetos img{
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.box-projetos h3{
    position: relative;
    bottom: 7.5rem;
}
.box-projetos p{
    position: relative;
    bottom: 7rem;
    text-align: center;
}
#contato{
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.contato_imag{
    height: 100vh;
    width: 100%;
}
.contato_imag img{
    height: 100%;
    width: 100%;
    transition-timing-function: cubic-bezier(0.6, 0, 0.6, 1);
    transition-delay: 30s;
    animation: zoom 30s;
}
@keyframes zoom{
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
.banner_contato {
    position:absolute;
    height: 300px;
    width: 350px;
    top:130rem;
    right: 5rem;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.footer{
    background: linear-gradient(to top, rgb(168, 84, 84), rgb(110, 30, 30));
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.suspiro {
    background: linear-gradient(to bottom, rgb(168, 84, 84), rgb(110, 30, 30));
    height: 1vh;
    width: 100%;
}
.suspiro .p{
    font-size: 1rem;
}
.suspiro_header {
    background-color: black;
    height: 1vh;
    width: 100%;
    position: fixed;
    top: 0px;
}